* {
    margin: 0;
    padding: 0;
    font-family: 'GilroyExtraBold', sans-serif;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

.images {
    width: 100%;
    background-color: #9BC09C;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "a"
        "b" 
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j"
}

@media (min-width: 1080px) {
    .images {
        grid-template-areas:
            "a a b c"
            "a a d e"
            "f g j j"
            "h i j j";
    }
}

img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.image-a {
    grid-area: a;
}

.image-b {
    grid-area: b;
}

.image-c {
    grid-area: c;
}

.image-e {
    grid-area: e;
}

.image-d {
    grid-area: d;
}

.image-f {
    grid-area: f;
}

.image-g {
    grid-area: g;
}

.image-h {
    grid-area: h;
}

.image-i {
    grid-area: i;
}

.image-j {
    grid-area: j;
}